@use '../base/variables';
@use '../utils/mixins';

.main {
    display: flex;
    margin-bottom: 100px;

    color: variables.$primary-color;
    min-height: 80vh;


    .main-container {
        @include mixins.flexbox();

        .card-code {
            display: flex;
            flex-direction: column;
            padding: 50px;
            font-size: 1.3rem;

            .card-code-text {
                width: 100%;
            }
        }


        h2 {
            text-transform: uppercase;
            margin-bottom: 20px;
            font-size: variables.$font-size-base;
        }

        .card-code-p {
            font-size: 1.5rem;
        }
    }

    .main-img {
        width: 300px;
        height: 300px;
        @include mixins.bg-img($bg-url:"https://static.vecteezy.com/system/resources/thumbnails/032/325/349/small_2x/macaw-parrot-isolated-on-transparent-background-file-cut-out-ai-generated-png.png");
    }
}

.section-table-points {
    padding:0px 100px;

    .table-points {
        @include mixins.flexbox($justify: space-around);
        text-align: center;
        padding: 30px;

        color: white;
        border-radius: 15px;


        .points {
            h1 {
                font-size: variables.$font-size-base;
                color: variables.$accent-color;
            }   

            p {
                color: #111;
                font-weight: 600;
                font-size: variables.$font-size-regular;
            }
        }
    }
}


.about-me {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
        
        .about-me-containers {
            margin: 100px 0px;
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 750px) {
                flex-direction: column;
            }

            .about-me-containers-img {
                width: 450px;
                height: 450px;
                margin-left: 100px;
  
                background-position: center;
                background-repeat: no-repeat;
    
                background-size: 250px;
                background-position-y: 110px;
                border-radius: 100%;
                background-color: variables.$accent-color;
    
       
               
            }

            .about-me-containers-text {
                font-size: variables.$font-size-regular;
                margin-left: 100px;
                width: 50vw;
                padding-right: 100px;
                color: #111 !important;

                p {margin-bottom: 20px;}


            }
        }
}

.project-search-container {
    .projects-items {
        display: flex;
        background-color: transparent;
        padding: 5px;
        border-radius: 100px;
        gap: 30px;
        height: 55px;
        width: 55vw;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 5px #111;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            border-radius: 100px;
            height: 30px;
            padding: 20px;
            cursor: pointer;
            color: #111;
            text-transform: uppercase;
            background-color: transparent;
            border: none;
            transition: 0.3s ease-in-out;

            &:hover {
            color: #fff;
            background-color: variables.$accent-color;
            }
        }

        .active {
            color: #fff;
            background-color: variables.$accent-color;
        }


    }


.tools {
    margin: 100px;
    
    
    .tools-information {
        display: flex;
        flex-direction: column; 
        width: 30%;
        align-items: center; 
        justify-content: center; 
        text-align: center;
        
        .tools-container {
            display: flex;
            width: 50%;
            gap: 20px;
            border-bottom: 1px solid variables.$accent-color;
        }
    }
}
}


    .tools-text {
        text-align: center;
    }

    .tools-img {
        padding-bottom: 18px;
        margin: auto !important;
    }

                        .contact-icons {
                    display: flex;
                    margin-top: 20px;
                    gap: 30px;
                    a {
                        i {
                            color: variables.$accent-color !important;
                            font-size: 1.5rem;
                        }
                    }
                }