@use '../base/variables';
@use '../utils/mixins';

.project-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.project-search-container {
  text-align: center;
}

.projects-title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.search-input {
  width: 80vw;
  max-width: 800px;
  padding: 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.search-input:focus {
  outline: 2px solid royalblue;
  background-color: #444;
}
