.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
    height: 100px;
    margin-bottom: -50px;
    
}

.logo{
    color: #333;

    .logo-tittle{
        margin-left: 50px;
        mark{
            color: #0D47B2;
        }
    }
}

img{
    position: relative;
    width: 50%;
}

.button_services{
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 5px;
    margin-right: 20px;
}

nav{
    display: flex;
    gap: 30px;
    margin-right: 30px;

    button{
        box-shadow: 3px 1px 1px #255DAE;
        background-color: #3391E5;
        border-radius: 100px;
        padding: 12px;
        margin-top: -8px;
        border: 0px;
        transition: 0.6s ease;

        &:hover{
            cursor: pointer;
            background-color: #255DAE;
        }

        a{
            border: none;
            color: white;

            &:hover{
                color: #fff;
            }
        }
    }

    a{
        transition: 0.8ms;
        text-decoration: none;
        
        border: 1px solid #fff;
        border-radius: 150px;
    
    }
}

.bi{
    font-size: 1.4em;
}

.bi-linkedin{
    color: #0D47A1;
}
.bi-github{
    color: #0D47B2;
}

.bi-instagram{
    border: none;
    color: white;
    color: #0D47A1;
}