.carousel-item{
    height: 100vh;
}
img{
    height: 100%;
}

@media screen and (max-width:992px) {
  
    .bi-x-circle:hover{
        border-radius: 100%;
        color: #fff;
        background-color: black;
    }

    .tittle-header{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    .lista{
        display: flex;
        gap: 12px;
    }

    .item{
        border: 1px solid #666;
        width: 100%;
            a{
                padding-left: 15px;
                &:hover{
                    background-color: blue;
                    color: white;
                }
            }
    }
}
