$primary-color: #333;
$secondary-color: #fff;
$accent-color: #4169E1;

$font-family-primary:"Glegoo", monospace;
$font-size-base: 2.2rem;
$font-size-regular: 1.2rem;

$font-size-base-mobile: 1.5rem;

$padding-regular: 1.5rem;
$margin-bottom-regular: 1rem;
$border-radius: 0.5rem;
$transition-duration: 0.3s;
$scale-factor: 1.1;
$modal-bg: #fff;
$modal-shadow: rgba(65, 105, 225);
$modal-max-width: 37.5rem;
$modal-padding: 1em;
$modal-border-color: #DEE2E6; 
$close-button-size: 1.5em;
$heading-color: #FEFFCF; 
$subheading-color: #462E09; 
$nav-link-color: #7B7574; 
$form-border-color: #CED4DA; 
$dark-primary-color: #212529; 
$dark-secondary-color: #fff;
$dark-accent-color: #4169E1; 
$dark-modal-bg: #212529;
$dark-modal-border-color: #DEE2E6;