@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

body {
  font-family: "Glegoo", monospace;
  background-color: #fff;
  color: #111;
  line-height: 1.6;
  font-family: "Glegoo", monospace;
}
body a {
  color: #111;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
body a:hover {
  color: #4169E1;
}
body mark {
  background-color: transparent;
  color: #4169E1;
  font-weight: 100;
}

input::-moz-placeholder {
  color: #999999; /* Cor desejada */
  opacity: 1; /* Para garantir que a cor fique opaca */
}

input::placeholder {
  color: #999999; /* Cor desejada */
  opacity: 1; /* Para garantir que a cor fique opaca */
}

/* Para navegadores Webkit (Chrome, Safari, Edge) */
input::-webkit-input-placeholder {
  color: #999999;
}

/* Para Firefox */
input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}

/* Para Internet Explorer 10-11 */
input:-ms-input-placeholder {
  color: #999999;
}

/* Para Microsoft Edge */
input::-ms-input-placeholder {
  color: #999999;
}

.navbar {
  background-color: #fff;
  padding: 1.5rem;
  position: relative;
  text-transform: uppercase;
  /* Mostrar as setas no hover */
  /* Conteúdo antes e depois */
}
.navbar #title {
  transition: 0.5s opacity ease-in-out;
  opacity: 1;
  color: #111;
}
.navbar #title::before {
  content: "</ ";
  color: #4169E1;
}
.navbar #title::after {
  content: " >";
  color: #4169E1;
}
.navbar .link {
  position: relative;
  transition: 0.4s ease-in-out;
  opacity: 1; /* Certifique-se que o link está visível */
}
.navbar .link::before,
.navbar .link::after {
  opacity: 0;
  transition: 0.4s opacity ease;
  color: #4169E1;
}
.navbar .link:hover::before,
.navbar .link:hover::after {
  opacity: 1;
}
.navbar .link::before {
  content: "</ ";
}
.navbar .link::after {
  content: " >";
}
.navbar .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.navbar .navbar-brand img {
  max-width: 9.375rem;
}
.navbar .navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.navbar .navbar-menu .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}
.navbar .navbar-menu .navbar-nav .nav-item {
  font-size: 1.25rem;
  list-style: none;
}
.navbar .navbar-menu .navbar-nav .nav-link {
  color: #7B7574;
  font-weight: 400;
}
.navbar .navbar-menu .navbar-nav .nav-link:hover {
  color: #4169E1;
}
.navbar .navbar-toggler {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  top: 1rem;
  right: 1.5rem;
}
.navbar .navbar-toggler .hamburger-icon {
  display: block;
  padding-right: 2rem;
  width: 2rem;
  height: 0.25rem;
  background-color: #7B7574;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.navbar .navbar-toggler .hamburger-icon::before, .navbar .navbar-toggler .hamburger-icon::after {
  content: "";
  width: 2rem;
  height: 0.25rem;
  background-color: #7B7574;
  position: absolute;
  transition: color 0.3s ease-in-out;
}
.navbar .navbar-toggler .hamburger-icon::before {
  top: -0.375rem;
}
.navbar .navbar-toggler .hamburger-icon::after {
  bottom: -0.375rem;
}
@media (max-width: 64rem) {
  .navbar .navbar-menu {
    display: none;
  }
  .navbar .navbar-toggler {
    display: block;
  }
}
@media (max-width: 37.5rem) {
  .navbar .navbar-brand img {
    max-width: 7.5rem;
    transition: opacity 0.3s ease;
  }
  .navbar .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: #fff;
    width: 100%;
    padding: 1.5rem;
    z-index: 10;
  }
  .navbar .navbar-menu.open {
    display: flex;
  }
  .navbar .navbar-menu .navbar-nav {
    flex-direction: column;
    gap: 1rem;
  }
  .navbar .navbar-menu .navbar-nav .nav-link,
  .navbar .navbar-menu .navbar-nav .toggle-text {
    font-size: 0.875rem;
  }
  .navbar .navbar-toggler {
    display: block;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15.625rem;
  height: 100%;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  padding: 2rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.sidebar h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar .sidebar-close {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #7B7574;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.sidebar .sidebar-brand img {
  max-width: 12.5rem;
  margin-bottom: 2rem;
}
.sidebar .sidebar-nav {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 3rem;
}
.sidebar .sidebar-nav .nav-item {
  list-style: none;
}
.sidebar .sidebar-nav .nav-item .nav-link {
  color: #7B7574;
  font-weight: 400;
}
.sidebar .sidebar-nav .nav-item .nav-link:hover {
  color: #4169E1 !important;
}

body.sidebar-open .navbar-brand img {
  opacity: 0;
  visibility: hidden;
}

.dark-mode-switch input[type=checkbox] {
  display: none;
}
.dark-mode-switch .toggle-switch {
  width: 3.125rem;
  height: 1.5625rem;
  background-color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: border-color, box-shadow 0.3s ease-in-out;
  display: flex;
  align-items: center;
  border: 1px solid #4169E1;
  padding: 0.1875rem;
}
.dark-mode-switch .toggle-switch .slider {
  position: absolute;
  margin: 0.125rem;
  width: 1.125rem;
  height: 1.125rem;
  background-color: #4169E1;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.dark-mode-switch input[type=checkbox]:checked + .toggle-switch {
  background-color: #4169E1;
}
.dark-mode-switch input[type=checkbox]:checked + .toggle-switch .slider {
  transform: translateX(1.375rem);
  background-color: #fff;
}
.dark-mode-switch .toggle-text {
  margin-left: 3.75rem;
  white-space: nowrap;
}

.main {
  display: flex;
  margin-bottom: 100px;
  color: #111;
  min-height: 80vh;
}
.main .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.main .main-container .card-code {
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: 1.3rem;
}
.main .main-container .card-code .card-code-text {
  width: 60%;
}
.main .main-container h2 {
  text-transform: uppercase;
  color: #4169E1;
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.main .main-container .card-code-p {
  font-size: 1.5rem;
}
.main .main-img {
  width: 300px;
  height: 300px;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/032/325/349/small_2x/macaw-parrot-isolated-on-transparent-background-file-cut-out-ai-generated-png.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-table-points {
  padding: 0px 100px;
}
.section-table-points .table-points {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
  padding: 30px;
  color: white;
  border-radius: 15px;
}
.section-table-points .table-points .points h1 {
  font-size: 2.5rem;
  color: #4169E1;
}
.section-table-points .table-points .points p {
  color: #111;
  font-weight: 600;
  font-size: 1.2rem;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
}
.about-me .about-me-containers {
  margin: 100px 0px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
}
@media screen and (max-width: 750px) {
  .about-me .about-me-containers {
    flex-direction: column;
  }
}
.about-me .about-me-containers .about-me-containers-img {
  width: 20vw;
  padding: 230px;
  margin-left: 100px;
  background-image: url("https://www.pngarts.com/files/8/Anime-PNG-Download-Image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px;
  background-position-y: 110px;
  border-radius: 100%;
}
.about-me .about-me-containers .about-me-containers-text {
  font-size: 1.2rem;
  margin-left: 100px;
  width: 50vw;
  padding-right: 100px;
  color: #111 !important;
}
.about-me .about-me-containers .about-me-containers-text p {
  margin-bottom: 20px;
}

.project-search-container .projects-items {
  display: flex;
  background-color: transparent;
  padding: 5px;
  border-radius: 100px;
  gap: 30px;
  height: 55px;
  width: 55vw;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px #111;
}
.project-search-container .projects-items button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 100px;
  height: 30px;
  padding: 20px;
  cursor: pointer;
  color: #111;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  transition: 0.3s ease-in-out;
}
.project-search-container .projects-items button:hover {
  color: #fff;
  background-color: #4169E1;
}
.project-search-container .projects-items .active {
  color: #fff;
  background-color: #4169E1;
}
.project-search-container .tools {
  margin: 100px;
}
.project-search-container .tools .tools-information {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.project-search-container .tools .tools-information .tools-container {
  display: flex;
  width: 50%;
  gap: 20px;
  border-bottom: 1px solid #4169E1;
}

.tools-text {
  text-align: center;
}

.tools-img {
  padding-bottom: 18px;
  margin: auto !important;
}

.contact-icons {
  display: flex;
  margin-top: 20px;
  gap: 30px;
}
.contact-icons a i {
  color: #4169E1 !important;
  font-size: 1.5rem;
}

.card {
  transition: 0.3s ease-in;
  max-width: 25vw;
}
.card span {
  color: #4169E1;
  border: 2px solid #4169E1;
  border-bottom: 0px;
  border-radius: 10px;
  border-end-end-radius: 0px;
  border-end-start-radius: 0px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 8px;
}
.card svg {
  margin-right: 8px;
  width: 40px;
  color: #4169E1;
}
.card:hover {
  cursor: pointer;
}
.card p {
  margin-top: 20px;
}

.card:hover {
  scale: 1.02;
}

.card:hover span {
  background-color: #4169E1;
  color: white;
}

.card:hover .options {
  background-color: #4169E1 !important;
  color: white !important;
}

.options {
  border-left: 4px solid #4169E1;
  border-radius: 3px;
  transition: opacity 0.2s ease-in-out;
  background-color: transparent;
  color: #005fa3;
  padding: 15px;
  margin-top: 10px;
  background-color: #fff !important;
}

.card:hover .card-options {
  opacity: 1 !important;
  background-color: #4169E1;
}

.card:hover .languagens {
  opacity: 1 !important;
}

.options {
  background-color: #4169E1;
  color: #4169E1 !important;
  font-weight: 800;
}

.languagens button {
  width: 90%;
}

.project-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.project-search-container {
  text-align: center;
}

.projects-title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.search-input {
  width: 80vw;
  max-width: 800px;
  padding: 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.search-input:focus {
  outline: 2px solid royalblue;
  background-color: #444;
}

.services {
  padding: 6rem 0;
}
.services h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #4169E1;
  font-size: 2.5rem;
  font-weight: 600;
}
.services .services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3rem;
}
.services .services-container h5 {
  color: #4169E1;
}
@media (max-width: 56.25rem) {
  .services .services-container {
    flex-direction: column;
  }
}
@media (max-width: 37.5rem) {
  .services .services-container {
    flex-direction: column;
  }
}

.dark-mode {
  background-color: #212529;
  color: #fff;
}
.dark-mode button,
.dark-mode a,
.dark-mode label,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h5,
.dark-mode p {
  color: #fff !important;
}
.dark-mode header, .dark-mode aside {
  background-color: #212529;
}
.dark-mode .modal {
  background-color: #4169E1;
  border-color: #DEE2E6;
  color: #fff;
}
.dark-mode .modal .modal-content .close-button {
  color: #fff;
}
.dark-mode .navbar {
  background-color: #212529;
}
.dark-mode .navbar .navbar-nav .nav-link {
  color: #fff;
}
.dark-mode .navbar .navbar-nav .nav-link:hover {
  color: #4169E1;
}
.dark-mode .navbar .card-code {
  background-color: #222;
}

.footer-content {
  background-color: #4169E1;
  color: #fff;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
}
.footer-content .footer-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  padding-top: 1rem;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    margin: auto !important;
    text-align: center;
  }
  .main-container {
    flex-direction: column !important;
    margin: auto;
    text-align: left !important;
  }
  .main-container .card-code-content {
    margin-top: 1px !important;
    position: absolute;
    left: 100px;
    margin-top: -30px !important;
  }
  .main-container h2 {
    margin-top: 50px;
  }
  .main-container .card-code {
    margin-top: -50px !important;
    padding: 45px !important;
    flex-wrap: wrap;
    width: 90vw;
  }
  .main-container .card-code .card-code-text {
    margin-top: 30px;
    border: 1px solid red;
  }
  .table-points {
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    margin-top: -50px !important;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .table-points {
    margin-left: -20px !important;
  }
}
@media screen and (max-width: 768px) {
  .table-points .points {
    padding: 10px;
  }
  .about-me-title {
    font-size: 1.5rem;
    margin-left: 80px !important;
  }
  .about-me-containers-text {
    margin-top: -60px;
    padding: 50px !important;
    text-align: center;
  }
  .about-me-containers-text .contact-icons {
    margin-top: 50px !important;
    justify-content: center !important;
  }
  .skill-card {
    height: auto;
    gap: 20px;
  }
  .skill-card .icons ul {
    gap: 15px;
    justify-content: center;
    margin-top: 50px;
  }
}/*# sourceMappingURL=main.css.map */